# ID3 on Car data

## read data

In [1]:
import pandas as pd
df = pd.read_csv('car.csv',names=['buying','maint', 'doors', 'persons', 'lug_boot', 'safety', 'carclass'])

In [2]:
df.head()

  buying  maint doors persons lug_boot safety carclass
0  vhigh  vhigh     2       2    small    low    unacc
1  vhigh  vhigh     2       2    small    med    unacc
2  vhigh  vhigh     2       2    small   high    unacc
3  vhigh  vhigh     2       2      med    low    unacc
4  vhigh  vhigh     2       2      med    med    unacc

## change data

In [3]:
buy = {'vhigh':0, 'high':1, 'med':2, 'low':3}
df['buying'] = df['buying'].map(lambda x: buy[x])
m = {'vhigh':0, 'high':1, 'med':2, 'low':3}
df['maint'] = df['maint'].map(lambda x: m[x])
d={'2':0, '3':1, '4':2, '5more':3}
df['doors'] = df['doors'].map(lambda x: d[x])
p={'2':0, '4':1, 'more':2}
df['persons'] = df['persons'].map(lambda x: p[x])
lb={'small':0, 'med':1, 'big':2}
df['lug_boot'] = df['lug_boot'].map(lambda x: lb[x])
sf={'low':0, 'med':1, 'high':2}
df['safety'] = df['safety'].map(lambda x: sf[x])
crcl={'unacc':0, 'acc':1, 'vgood':3, 'good':2}
df['carclass'] = df['carclass'].map(lambda x: crcl[x])

In [4]:
df.head()

   buying  maint  doors  persons  lug_boot  safety  carclass
0       0      0      0        0         0       0         0
1       0      0      0        0         0       1         0
2       0      0      0        0         0       2         0
3       0      0      0        0         1       0         0
4       0      0      0        0         1       1         0

## form target and data

In [5]:
X=df.iloc[:,:6]

In [6]:
y=df.iloc[:,6]

## model building

In [7]:
import six
import sys
sys.modules['sklearn.externals.six'] = six

In [9]:
!pip install decision-tree-id3
from id3 import Id3Estimator
model = Id3Estimator()
model.fit(X, y)

Collecting decision-tree-id3
  Downloading https://files.pythonhosted.org/packages/53/60/9b51eb3b5096afa1fce2718f56c99f8e183162dae114c56592112ab54329/decision-tree-id3-0.1.2.tar.gz
Collecting nose>=1.1.2
  Downloading https://files.pythonhosted.org/packages/15/d8/dd071918c040f50fa1cf80da16423af51ff8ce4a0f2399b7bf8de45ac3d9/nose-1.3.7-py3-none-any.whl (154kB)
     |████████████████████████████████| 163kB 8.9MB/s
Requirement already satisfied: scikit-learn>=0.17 in /usr/local/lib/python3.6/dist-packages (from decision-tree-id3) (0.22.2.post1)
Requirement already satisfied: numpy>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from decision-tree-id3) (1.19.4)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.17->decision-tree-id3) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.17->decision-tree-id3) (1.0.0)
Building wheels for collected packages: decision-tree-id3
  Building wheel for decision-tree-id3 (setup.py) ... done
  Created wheel for decision-tree-id3: filename=decision_tree_id3-0.1.2-cp36-none-any.whl size=15964 sha256=479e93d80ab17200acf904ba08f4e2e4993c559a17b174ad2963a6f6e79935a8
  Stored in directory: /root/.cache/pip/wheels/2d/d6/f2/96cb2cc307503a88b1235aef5c794990e460bd044f382070f9
Successfully built decision-tree-id3
Installing collected packages: nose, decision-tree-id3
Successfully installed decision-tree-id3-0.1.2 nose-1.3.7

Id3Estimator(gain_ratio=False, is_repeating=False, max_depth=None,
             min_entropy_decrease=0.0, min_samples_split=2, prune=False)

## tree generation

In [10]:
from id3 import export_graphviz

In [11]:
export_graphviz(model.tree_, "car_dot.dot", ['buying','maint','doors','persons','lug_boot','safety'])

In [14]:
!dot -T png car_dot.dot -o car_ID3_2.png