In [1]:
import numpy as np
import pandas as pd

In [3]:
#from google.colab import files
#uploaded = files.upload()

## Read data

In [4]:
data = pd.read_csv('playornot.csv')
print(data)

    Day   Outlook Temperature Humidity    Wind Decision
0     1     Sunny         Hot     High    Weak       No
1     2     Sunny         Hot     High  Strong       No
2     3  Overcast         Hot     High    Weak      Yes
3     4      Rain        Mild     High    Weak      Yes
4     5      Rain        Cool   Normal    Weak      Yes
5     6      Rain        Cool   Normal  Strong       No
6     7  Overcast        Cool   Normal  Strong      Yes
7     8     Sunny        Mild     High    Weak       No
8     9     Sunny        Cool   Normal    Weak      Yes
9    10      Rain        Mild   Normal    Weak      Yes
10   11     Sunny        Mild   Normal  Strong      Yes
11   12  Overcast        Mild     High  Strong      Yes
12   13  Overcast         Hot   Normal    Weak      Yes
13   14      Rain        Mild     High  Strong       No

## Change data type to int

In [5]:
out = {'Sunny':0, 'Overcast':1,'Rain':2}
data['Outlook'] = data['Outlook'].map(lambda x : out[x])
temp = {'Hot':0,'Mild':1,'Cool':2}
data['Temperature'] = data['Temperature'].map(lambda x : temp[x])
data.head()
data['Humidity'] = data['Humidity'].map(lambda x : 0 if x == 'High' else 1)
data.head()
data['Wind'] = data['Wind'].map(lambda x: 0 if x == 'Weak' else 1)
data.head()
data['Decision'] = data['Decision'].map(lambda x: 0 if x == 'No' else 1)
data.head()

   Day  Outlook  Temperature  Humidity  Wind  Decision
0    1        0            0         0     0         0
1    2        0            0         0     1         0
2    3        1            0         0     0         1
3    4        2            1         0     0         1
4    5        2            2         1     0         1

## Model build and fit

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model = model.fit(data.iloc[:, 1:5],data.iloc[:, 5])

## Model vizualize

#### create a .dot file

In [6]:

from sklearn.tree import export_graphviz
feature_names = ["Outlook","Temperature","Humidity","Wind"]
out = ['Yes','No']
dot = export_graphviz(decision_tree=model, out_file='p.dot', feature_names=feature_names, class_names=out)

#### create a .png file from the .dot file

In [7]:
! dot -T png p.dot -o tree.png